/**Google font link**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
/**Default css**/
body{
    font-family: 'Roboto', sans-serif;
}
/**navbar css**/
.navbar-brand img {
    width: 100px;
}
ul li a.nav-link {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}
.active{
    background-color: #F06C4E; 
    color: white !important;
    border-radius: 4px;
}

/**meal section area**/
/**search input field css**/
i.fas.fa-search {
    float: left;
    position: absolute;
    padding-top: 17px;
    padding-left: 14px;
    color: gray;
}
input#search-input {
    height: 50px;
    font-size: 16px;
    width: 85% !important;
    font-weight: 600;
    color: gray;
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
    background: #cccccc3d;
    border: none;
    border-radius: 5px 0 0 5px;
}
#search-input:focus{
    outline: none;
}
::placeholder{
    color: gray;
}
#button {
    border: none;
    padding: 13px;
    font-size: 16px;
    background: #F06C4E;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    border-radius: 0 5px 5px 0;
}
#button:focus{
    outline: none;
}
/**meal item css**/
a{
    text-decoration: none !important;
}
.item{
    border-radius: 10px;
    background-color: #cccccc69;
}
img#meal-thumb {
    border-radius: 10px 10px 0 0;
}

p#meal-name {
    font-size: 20px;
    text-align: center;
    padding: 14px 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
/****wrong message css***/
.wrongMsg {
    color: red;
    text-align: center !important;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}

/**meal details css**/
div#meal-contents {
    text-align: center;
}

div#meal-contents img {
    width: 100%;
    /* height: 500px; */
    border-radius: 8px;
}
.meal-name h2{
    font-size: 35px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 15px 0;
}
#indgra-heading{
    font-size: 20px;
    font-weight: 600;
}
#ingradients{
    list-style: none;
    margin-left: -30px;
    margin-top: 10px;
}
#ingradients li {
    font-size: 18px;
    font-weight: 500;
}
#ingradients li span i{
    color: #F06C4E;
}
